[Unit]
Description=DesktopImage

[Service]
ExecStart=/usr/bin/desktopimage
Restart=always
Environment=GOTRACEBACK=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
